html {
    background-color: cadetblue;
}

h1,
h2 {
    color: orange;
    font-family: 'Anton', sans-serif;
}

p {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.tips {
    color: rgb(20, 20, 20);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

em,
strong {
    color: orange;
}